main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  
  .roulette-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .roulette-wheel {
      width: 1024px;
      height: 128px;
      background-image: url('/test.png');
      background-repeat: repeat-x;
      transition: all 0.5s ease;
      transition-behavior: smooth;
      border: 2px solid gray;
      border-radius: 10px;

      .roulette-arrow {
        width: 5px;
        height: 128px;
        background-color: gray;
        border-radius: 50%;
        position: absolute;
        left: 50%;
      }

      .roulette-timer {
        position: absolute;
        width: 1024px;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
      }

      .hidden {
        display: none;
      }
    }

    .roulette-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .roulette-input > input {
        width: 200px;
        height: 30px;
        background: none;
        border: 1px solid white;
        color: white;
        font-size: 1.1rem;
        text-align: center;
        margin: 0 10px 0 10px;
      }

      .roulette-buttons {
        margin-top: 20px;

        .roulette-option {
          background: none;
          width: 100px;
          height: 30px;
          background: none;
          border: 1px solid white;
          color: white;
          font-size: 1.1rem;
          margin: 0 10px 0 10px;
          cursor: pointer;
        }
  
        .red {
          color: red;
        }
  
        .black {
          color: white;
        }
  
        .green {
          color: green;
        }
      }
    }

    .disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .roulette-info {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .roulette-info-red {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        color: red;
      }

      .roulette-info-black {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        color: white;
      }

      .roulette-info-green {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        color: green;
      }

      .roulette-info-players {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        color: white;
      }
    }
  }
}